// Light-mode colors
$blue: #0079FF;
$gray: #697C9A;
$cornflowerblue: #4B6A9B;
$dark-blue: #2B3442;
$light-blue: #F6F8FF;
$white-smoke: #FEFEFE;
// Dark-mode colors
$light: #FFFFFF;
$black: #141D2F;
$night-blue: #1E2A47;
$midnight-blue: #90A4D4;
$red: #F74646;